on:
  push:
    branches:
    - main
jobs:
  my_job:
    name: deploy
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false 
      - name: node
        uses: actions/setup-node@v3
        with:
          node-version: "22"
      - name: install and build
        run: |
          npm install
          npm run build
          git lfs track ${{github.workspace}}/.next/*
          git add .gitattributes
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          path: ${{github.workspace}}/out
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          folder: ${{github.workspace}}/out
          branch: static-pages2
          
